.Badge.NoVersion {
    padding-right: 0.2em;
}
.SimpleBadge {
    text-decoration: none;
    display: inline-block !important;
    color: white;
    background-color: #545454;
    border-radius: 2px;
    padding: 0 0.2em 0 0.2em;
}
.Badge {
    text-decoration: none;
    display: inline-block !important;
    color: white;
}
.Badge > span {
    padding: 0 0.2em 0 0.2em;
}
.Badge > .name {
    margin-top: 1em;
    background-color: #545454;
    border-radius: 2px 0 0 2px;
}
.Badge > .version {
    background-color: #c12127;
    border-radius: 0 2px 2px 0;
}
.table {
    display: table;
    margin: 1em auto 2em auto;
}
.table > .left-column {
    display: inline-block;
    text-align: center;
}
.table > .right-column {
    display: inline-block;
    vertical-align: top;
    margin-left: 4em;
}
@media (min-width: 786px) {
    .table > .right-column {
        width: 550px;
    }
}
@media (min-width: 986px) {
    .table > .right-column {
        width: 720px;
        margin-left: 5em;
    }
}
@media (max-width: 785px) {
    .table {
        display: block;
    }
    .table > .left-column {
        display: block;
        text-align: center;
    }
    .table > .right-column {
        display: block;
        margin-right: 4em;
    }
}
@media (max-width: 520px) {
    .table > .right-column {
        margin-right: 2em;
        margin-left: 2em;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}
.logo > img {
    max-width: 170px;
}

.tm, .tm2 {
    font-family: 'Source Code Pro', monospace;
}
.tm {
    background-color: lightgreen;
}
.tm2 {
    background-color: lightcoral;
}
body {
    margin: 0;
    font-family: 'Ruda', sans-serif;
}
footer {
    padding: 1em;
    border-top: 1px dashed;
}

#preact {
    background: linear-gradient(#ffe3c6, #FFEB3B);
    border-radius: 5rem;
    overflow: hidden;
    padding: 2.5rem 2.5rem 1rem;
    border: 1px dashed #ffbd84;
    box-shadow: 5px 5px 20px #f6c39f;
    margin-bottom: 1rem;
}
li.Active {
    font-weight: bold;
}
.Badge {
    color: rgb(233, 233, 233);
}
.Badge:hover {
    color: white;
    text-decoration: initial !important;
    text-shadow: -1px -1px 1px rgba(244, 166, 118, 0.557);
}
.Badge .version {
    text-shadow: -1px -1px 0px #5e0808;
}
.Badge:hover .version {
    text-shadow: -1px -1px 0px #d11b1b;
}