<!doctype html>
<html lang="en">
    <head>
      <PageTitle/>
      <link href="styles/app.css" rel="stylesheet">
      <link href="styles/default.css" rel="stylesheet">
      <link href="styles/prism.css" rel="stylesheet">
      <link rel="apple-touch-icon" sizes="180x180" href="img/favicon_io/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="img/favicon_io/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="img/favicon_io/favicon-16x16.png">
      <link rel="manifest" href="img/favicon_io/site.webmanifest">
      <link href="https://fonts.googleapis.com/css?family=Ruda" rel="stylesheet">

      <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">

    </head>
    <body>
      <Loader />
      <div class="table">
        <div class="left-column" style="padding-left:1rem;">
          <div class="logo">
            <img src="img/logo.jpg" alt="splendid logo">
          </div>
          <div class="badges">
            <GitHubBadge name="form" org="dpck" />
            <NPMBadge package="@depack/form" version="1.0.0" />
          </div>

          ### Pages

          <Pages />

          ### npm links

          <ul>
            * [splendid](https://www.npmjs.com/package/splendid)
            * [mnp](https://www.npmjs.com/package/mnp)
          </ul>
        </div>
        <div class="right-column" id="Content">
          {{ content }}
        </div>
        <!-- <script src="js/main.js"></script> -->
      </div>
      <footer>
        &copy; {{ company }}, {{ year }}
      </footer>
    </body>
</html>
